

  *{
    margin: 0%;
    padding: 0%;
  }
  .cuadro1
    {
        position: fixed;
        border-bottom: 1px solid rgb(185, 179, 179);
        border-top:1px solid rgb(185, 179, 179) ;
        width: 100%;
        height: 120px;
        top: 1px;
        left: 0px;
        background-color: white;
        z-index: 12;
    }
    .logo
    {
    margin-top: 0px;
    height: 110px;
    width: 250px;

    }
    .cuadro11
    {
        display: flex;
        height: 120px;
        width: 67%;
        margin-left: 500px;
        margin-top: -120px;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }
    .menu
    {

    color: rgb(106, 106, 106);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    }
    .menu li
    {
        width: 250px;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .menu li:hover ul
    {
        display: block;
    }
    .menu ul
    {
        z-index: 10;
        display: none;
        position: absolute;
    }
    .menu ul li a 
    {
        display: block;
        text-decoration: none;
        color: rgb(106, 106, 106);
        background-color: white;
        padding: 10px;
    }
    .cajasection {
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;  
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(sdimg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0%;          
    box-sizing: border-box; 
    overflow: hidden;       
}

.smart{
    position: relative;
    top: 30px;
    left: 20px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.sec1{
    position: relative;
    left: 800px;
    top: 50px;
    height: 100px;
    width: 600px;
    background-color: rgba(17, 100, 100, 0.651);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: white;
    border-radius: 8px;
}

.cajainfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 300px;
    width: 600px;
    background-color: white;
    top: 150px;
    left: 450px;
    font-family: Arial, Helvetica, sans-serif;  
    text-align: center;  
    font-size: 20px;
}
 
 
.caja1info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 300px;
    width: 600px;
    background-color: white;
    left: 1200px;
    top: -160px;
    font-family: Arial, Helvetica, sans-serif;  
    text-align: center;  
    font-size: 20px;
}


.cajaform{
    width: 100%;
    height: 1000px;
    background-color: rgba(17, 100, 100, 0.651);
}
.cajaform1{
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    width: 600px;
    height: 850px;
    top: 220px;
    left: 10%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.cajaform2{
    position: absolute;
    width: 600px;
    height: 700px;
    top: 1280px;
    left: 1200px;
    font-family: Arial, Helvetica, sans-serif;
}

.font{
    font-family: Arial, Helvetica, sans-serif;
}
.input1{
    width: 100%;
    height: 50px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px black solid;
    font-size: 20px;
}
.nombre{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 20px;
    font-size: 20px;
}
.input2{
    border: 2px black solid;
    height: 18px;
    width: 18px;
    text-align: right;
    padding: 0%;
    margin: 0%;
}
textarea{
    border: 2px black solid;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    height: 60px;
    width: 100%;
    background-color:rgba(17, 100, 100, 0.651) ;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.radio{
    display: flex;          
    justify-content: flex-start; 
    gap: 20px;              
    margin-bottom: 15px;    
    color: white;           
    font-family: Arial, sans-serif;
}

 footer
    {
        display: flex;
        width: 100%;
        height: 350px;
        background-color:rgba(17, 100, 100, 0.651) ;
        margin-top: 100px;
        justify-content: center;
        justify-content: space-between;
    }
    .pie1
    {
        width:400px ;
        height: 350px;
        
        margin-left: 150px;
    }
    .pie2
    {
         width:400px ;
        height: 350px;
        margin-left: 50px;
        
    }
    .pie3
    {
         width:400px ;
        height: 350px;
        
        margin-right: 100px;
    }
    .pie12
    {
        margin-top: 25px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: white;
    }
    .pie13
    {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
        
    }
    .pie14
    {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
        
    }
    .pie15
    {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
    }
    .pie16
    {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
    }
    .pie17
    {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
    }
    .pie18
    {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
    }
    .pie21
    {
          margin-top: 25px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        
        color: white;
    }
    .pie31
    {
        margin-top: 25px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        
        color: white;
        text-align: center; 
    }