.cuadro1
    {
        
        border-bottom: 1px solid rgb(185, 179, 179);
        border-top:1px solid rgb(185, 179, 179) ;
        width: 100%;
        height: 120px;
        top: 1px;
        left: 0px;
        position: fixed;
        z-index: 10;
        padding: 0px;
        background-color: white;
    }
      .logo
    {
    margin-top: 0px;
    height: 110px;
    width: 250px;

    }
    .cuadro11
    {
        display: flex;
        height: 120px;
        width: 67%;
        margin-left: 500px;
        margin-top: -120px;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }
    .menu
    {

    color: rgb(106, 106, 106);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    }
    .menu li
    {
        display: inline-block;
        position: relative;
        text-decoration: none;
        width: 250px;
    }
    .menu li:hover ul
    {
        display: block;
    }
    .menu ul
    {
        z-index: 10;
        display: none;
        position: absolute;
    }
    .menu ul li a 
    {
        display: block;
        text-decoration: none;
        color: rgb(106, 106, 106);
        background-color: white;
        padding: 10px;
    }
         .contenedor
    {
        width: 100%;
        height: 700px;
    }
    .invisalign
    {
        height: 700px;
        width: 100%;
    }

    .cuadro2
    {
       display: flex;
        width: 100%;
        height: 600px;
        justify-content: center;
        align-items: center;
        justify-content: space-between;
        
    }
    .cuadro21
    {
        width: 275px;
        height: 400px;
        margin-left: 300px;
    }
    .cuadro22
    {
        width: 275px;
        height: 400px;
        
    }
    .cuadro23
    {
         width: 275px;
        height: 400px;
        margin-right: 300px;
    }
    .text2
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
    }

    .cuadro3
    {
        width: 100%;
        height: 500px;
        margin-top: -50px;
        display: flex;
        justify-content: center;
    }
    .cuadro31
    {
        width: 700px;
        height: 500px;
    }
    .cuadro32
    {
        width: 700px;
        height: 500px;
    }
    .text31
    {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgba(17, 100, 100, 0.651);
    }
    .text32
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
    }
    .cuadro32
    {
        width: 600px;
        height: 400px;
        margin-left: 100px;
    }
    .cuadro4
    {
        width: 100%;
        height: 500px;
        margin-top: -50px;
        display: flex;
        justify-content: center;
        margin-top: 150px;
    }
    .cuadro5
    {
        width: 100%;
        height: 500px;
        margin-top: -50px;
        display: flex;
        justify-content: center;
        margin-top: 300px;
    }
    .cuadro6
    {
         width: 100%;
        height: 500px;
        margin-top: -50px;
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }
     
     footer
    {
        display: flex;
        width: 100%;
        height: 350px;
        background-color:rgba(17, 100, 100, 0.651) ;
        margin-top: 100px;
        justify-content: center;
        justify-content: space-between;
    }
    .pie1
    {
        width:400px ;
        height: 350px;
        
        margin-left: 150px;
    }
    .pie2
    {
         width:400px ;
        height: 350px;
        margin-left: 50px;
        
    }
    .pie3
    {
         width:400px ;
        height: 350px;
        
        margin-right: 100px;
    }
    .pie12
    {
        margin-top: 25px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: white;
    }
    .pie13
    {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
        
    }
    .pie14
    {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
        
    }
    .pie15
    {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
    }
    .pie16
    {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
    }
    .pie17
    {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
    }
    .pie18
    {
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
    }
    .pie21
    {
          margin-top: 25px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        
        color: white;
    }
    .pie31
    {
        margin-top: 25px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        
        color: white;
        text-align: center; 
    }